@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: rubikRegular;
	src: url("../assets/rubik/Rubik-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: rubikRegular;
	src: url("../assets/rubik/Rubik-Medium.ttf");
	font-weight: bold;
}

body {
	font-family: "Poppins", sans-serif;
	/* font-family: "rubikRegular", sans-serif; */
	overflow-x: hidden;
}

@layer components {
	.btn-header {
		@apply bg-white text-[#0BCE63] flex items-center justify-center w-[70px] h-9;
	}
}
